
:root{
  --dark-blue-top-bar: #181D31;
  --light-text-color:#F1F1F1;
  --dark-background-color:#100F0F;
  --dark-green-select-top-bar:#0F3D3E;
  --beige-hover-top-bar:#E2DCC8;
}




.App {
  text-align: center;
  background-color: var(--dark-background-color);
  height: 100%;
}


/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

/*------------------------------------------Top Bar---------------------------------*/
.topnav {
  background-color: var( --dark-blue-top-bar);
  overflow: hidden;

}


.topnav a {
  float: right;
  color: var(--light-text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 550;
  border-radius: 5px;  
}


.topnav a:hover {
  background-color: var(--beige-hover-top-bar);
  color: var(--dark-blue-top-bar);
}


.topnav a.active {
  background-color: var(--dark-green-select-top-bar);
  color: var(--light-text-color);
}



/*-------------------------------------------Contacts------------------------------------*/

.ContactsContainer{
  /*display: flex;
  border: 1px solid red;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  overflow: hidden;
*/
display: grid;
grid-template-columns: repeat(auto-fill,minmax(200px,2fr));
align-items: center;
justify-items: center;
grid-gap: 2rem 3rem;
overflow: hidden;
padding: 25px;
}


.card{
  color: var(--light-text-color);
  width: 100%;
  background-color: var(--dark-blue-top-bar);
  min-width: 100px;
  border-radius: 10px;
  padding-bottom: 5px;
  box-shadow: 0px 0px 10px 3px var(--dark-green-select-top-bar);
}

.cardTitle{
  font-size: 18px;
  margin: 0;
}

.buttonToLink{
  background-color: var(--dark-green-select-top-bar);
  position: relative;
  width: 90%;
  padding: 3px;
  border-radius: 5px;
  border:1px solid var(--dark-background-color);  
}

.buttonToLink p{
  font-size: 13px;
  margin: 0;
  color: var(--light-text-color);
}

.cardBody{
  color: var(--light-text-color);
  font-size: 13px;
  margin: 0;
  margin-top: 100%;
  margin-bottom: 5px;
}

.cardBody p{
  margin: 0px;
}