
:root{
  --dark-blue-top-bar: #181D31;
  --light-text-color:#F1F1F1;
  --dark-almost-black-color:#100F0F;
  --dark-green-select-top-bar:#0F3D3E;
  --beige-hover-top-bar:#E2DCC8;
  --blue--background:#6096B4;
  --font:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
*{
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--blue--background);
  margin: 0;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}


/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

/*------------------------------------------Top Bar---------------------------------*/
.topnav {
  background-color: var( --dark-blue-top-bar);
  overflow: hidden;
  text-align: center;
  padding-right: 15px;
  padding-left: 5px;
  padding-top: 5px;
  text-decoration: none;
  font-size:clamp(13px, 2vw, 19px);
  font-weight: 550; 
  width: 100%;
}
.topnav ul{
  float: right;
  border: none;
}
.topnav li{
border: none;
}

.topnav a{
  color: var(--light-text-color);
  border: none !important;

}

.topnav a:hover {
  background-color: var(--light-text-color);
  color: var(--dark-blue-top-bar);
  border: none;
}


.topnav .nav-link.active {
  background-color: var(--blue--background);
  color: var(--light-text-color);
  border: none;
}

/*-------------------------------------------Home----------------------------------------*/

.Home{
display: flex;
flex-wrap: wrap;
overflow: hidden;
justify-content: space-between;

}
/*-----------------------------------------IntroText--------------------------------------*/
.IntroHome{
  width: 100%;
  align-items: center;
  padding: 20px;
  padding-left: 20%;
  padding-top: 80px; 
  text-align: left;
  font-family:var(--font);
  color: var(--dark-almost-black-color);
}
.myNameIs{
 margin-bottom: 0;
 color: var(--dark-green-select-top-bar);
 font-weight: 700;
 font-size: clamp(10px, 10vw, 15px);
}


.BigTextName{
  font-size:clamp(40px, 10vw, 60px);
  margin-bottom: 0;
}


.BigTextBuild{
  font-size:clamp(50px, 10vw, 90px);
  text-align: left;  
}

.descriptionHome{
  margin-bottom: 0;
  color: var(--dark-green-select-top-bar);
  font-weight: 500;
  opacity: .85;
  font-size: 14px;
  
}
/*---------------------------Social Links------------------------------*/

.SocialLinks{
  position: fixed;
  bottom: 5%;
  left: 5%;
}

.SocialLinks ul{
  list-style-type: none;
}
.SocialLinks li{
  margin-bottom: 30px;
}
.SocialLinks li i{
  color: var(--dark-almost-black-color);
}












/*-------------------------------------------Projects------------------------------------*/

.ProjectsContainer{
  display: grid;
  place-items: center center;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  padding: 20px;
  grid-gap: 40px;
}


.card{
  color: var(--light-text-color);
  width: 100%;
  background-color: var(--dark-blue-top-bar);
  min-width: 100px;
  border-radius: 10px;
  padding-bottom: 0px;
  background-image: url('/public/images/Sevilha.jpeg');
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center;   
  border: 1px solid red;
}

.cardTitle{
  font-size: 18px;
}

.buttonToLink{
  background-color: transparent;
  position: relative;
  width: 90%;
  padding: 3px;
  border-radius: 5px;
  border:1px solid red;  
}

.buttonToLink p{
  font-size: 13px;
  color: var(--light-text-color);
}

.cardBody{
  color: var(--light-text-color);
  font-size: 13px;
  margin-top: 100%;
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, .5);
  border-bottom-left-radius:10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 10px;
  position: relative;
  
}

.cardBody .descriptionCard{
  margin: 0px;
}


.CardArrowUp{
  content: url('../public/images/CardArrowUp.png');
  filter: brightness(0) invert(1);
  
}